.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.f {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.b1blck {
  border: 2px solid black;
}
.p-20 {
  padding: 20px;
}
.flex {
  display: flex;
}
.flex-co {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.ai {
  align-items: center;
}
.mw100 {
  max-width: 100%;
}
.w100 {
  width: 100%;
}
